{% extends 'base.html' %}

{% block title %}SignUp{% endblock title %}

{% block account_css %}

{% endblock account_css %}


{% block content %}

<div class="main-container">
    <div class="field-container">
        <form action="" method="post">
            {% csrf_token %}

            <div class="field">
                <label for="">Username</label>
                <input type="text" placeholder="Enter Username" name="username" required>
            </div>
            <br>

            <div class="field">
                <label for="">Email</label>
                <input type="email" placeholder="Enter User Email." name="email" required>
            </div>

            <br>
            <div class="field">
                <label for="">Password</label>
                <input type="password" placeholder="Enter Password" name="pass1" required>
            </div>
            
            <br>
            <div class="field">
                <label for="">Confirm Password</label>
                <input type="password" placeholder="Enter Password Again.." name="pass2" required>
            </div>


            {% if errors %}
            {% for error in erros %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            {% endif %}

            <div class="btn">
                <button type="submit">Signup</button>
            </div>
        </form>


    </div>
</div>

{% endblock content %}