{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<div class="container">

    <div class="expense">

        <form method="POST" class="form2">
            <h2>Add Expense</h2>

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Add Expense</button>

        </form>

        <div class="display">
            <div class="analysis">

            <form action="" method="get">
                <select name="category" id="">
                    <option value="">All Categories</option>

                    {% for value,label in  form.category.field.choices %}
                    <option value="{{ value }}" {% if request.GET.category == value %}selected{% endif %}>
                        {{ label }}
                    </option>
                    {% endfor %}
                </select>

                <button type="submit">Filter</button>
            </form>
            
                <a href="{% url 'analysis' %}">Analysis</a>
            </div>

            <table class="expense-table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                </thead>

                <tbody>

                    {% for expense in expenses %}

                    <tr>
                        <td>{{ expense.description }}</td>
                        <td>{{ expense.amount }}</td>
                        <td>{{ expense.date }}</td>
                        <td>{{ expense.category }}</td>
                        <td><a href="{% url 'delete' expense.id %}">Delete</a></td>
                        <td><a href="{% url 'update' expense.id %}">Edit</a></td>
                    </tr>

                    {% empty %}

                    <tr>
                        <td colspan="4">No expenses found.</td>
                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}